/* TABLE OF CONTENTS */
/* -------------------
1. General
2. Navbar
3. Banner
4. About
5. Services
6. Portfolio
7. Contact
8. Footer
----------------------*/

/* 1. General */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
/* Background-color */
	--primary-color: #FD4766;
	--secondary-color: #0e1525;
	--bg-dark-blue: #091020;
	--bg-white: #fff;
	--gray-color: #c6c9d8bf;
	--gradient-color: linear-gradient(-224deg, var(--primary-color) 0, #337 DFF 100%);
	--gradient-text: linear-gradient(-120deg, #1c99FE 20,69%, #7649FF 50,19%, var(--primary-color) 79,69%);
	filter: progid:DXImageTransform.Microsoft.gradient(starColorstr='var(--primary-color)', endColorstr='var(--secondary-color)', GradientType=1);
/* Text color */
--primary-font: 'poppins', sans-serif;
--primary-text: #FD4766;
--text-gray: #c6c9d8bf;
--text-white: #fff;
}

body{
	font-family: var(--primary-font);
	background-color: var(--secondary-color);
}

a{
	text-decoration: none;
}

/* 1. Custom.css */
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
	background: var(--bg-dark-blue);
}
::-webkit-scrollbar-thumb {
	background: var(--primary-color);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
	-webkit-appearance: none;
	margin: 0;
}
section{
	padding: 50px 0;
}
.main-btn{
	display: inline-block;
	border-radius: 50px;
	transition: all .4s ease-in-out;
	padding: 10px 27px;
	background-color: transparent;
	border: 2px solid var(--gray-color);
	color: var(--text-gray);
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
}
.main-btn:hover{
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	color: var(--text-white);
}
h1{
	font-size: 54px;
	line-height: 68px;
	font-weight: 800;
	color: var(--text-white);
	margin-bottom: 20px;
}
h1 span{
	color: var(--primary-color);
}
h2{
	font-size: 50px;
	line-height: 1.3;
	font-weight: 600;
	color: var(--text-white);
	margin-bottom: 15px;
}
h3{
	font-size: 20px;
	font-weight: 600;
	color: var(--text-white);
	margin-bottom: 19px;
}
h6{
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 4px;
	display: block;
	color: var(--text-gray);
	margin-bottom: 20px;
}
p{
	color: var(--text-gray);
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 1px;
	font-weight: 400;
}
.subtitle{
	display: inline-block;
	font-weight: 600;
	letter-spacing: 0.5px;
	line-height: 18px;
	font-size: 16px;
	margin-bottom: 12px;
	background: var(--gradient-color);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
input:hover,
input-focus,
textarea:focus,
textarea:hover,
button{
	outline: none !important;
	box-shadow: none !important; 
}


/* 2. Navbar */
.header_wrapper .navbar{
	padding: 15px 0;
	-webkit-transition: all 2s linear;
	-o-transition: all 2s linear;
	transition: all 2s linear;
}
.header_wrapper .navbar-brand img{
	max-width: 120px;
	height: auto;
}
.header_wrapper .navbar-toggler{
	border: 0;
	color: var(--gray-color);
	line-height: 2;
}
.header_wrapper .navbar-toggler:focus{
	box-shadow: none;
}
.header_wrapper .nav-item{
	margin: 0 10px;
}
.header_wrapper .nav-item .nav-link{
	position: relative;
	font-size: 16px;
	font-weight: 500;
color: var(--text-gray);
	display: inline-block;
}
.header_wrapper .nav-item .nav-link::after{
	position: absolute;
	content:'';
	left: 0;
	width: 0;
	height: 2px;
	background: var(--primary-color);
	transition: 0.3s;
	bottom: 0;
}
.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after{
	width: 100%;
}
.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover{
	color: var(--text-white);
}
.header-scrolled{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--bg-dark-blue);
	-webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.5);
	box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.5);
}
.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover{
	color: var(--primary-text);
}

/* 3. Banner */
.banner_wrapper{
	width: 100%;
	height: auto;
	min-height: 650px;
	background-image: url('../images/stratege.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	padding: 200px 0 100px 0;
}

/* 4. About */
.about_wrapper ul .nav-pills{
	border: 1px solid var(--gray-color);
	border-radius: 50px;
}
.about_wrapper ul li .nav-link{
	border-radius: 50px;
	font-size: 15px;
	font-weight: 500;
	transition:all 0.45s cubic-bezier(0,0,0.2,1);
	display: inline-block;
	color: var(--text-gray);
	border: 0;
}
.about_wrapper ul li .nav-link.active{
	background-color: var(--primary-color);
}
.about_wrapper .single-progress{
	margin-top: 26px;
	position: relative;
	overflow: hidden;
}
.about_wrapper .single-progress .progress{
	height: 4px;
	border-radius: 4px;
	box-shadow: none;
	background-color: var(--bg-white);
	overflow: visible;
}
.about_wrapper .single-progress .progress-bar{
	background-color: var(--gradient-color);
}
.about_wrapper .single-progress h6{
	text-align: left;
}
.about_wrapper .single-progress .label{
	position: absolute;
	right: 0;
	top: 0;
	color: var(--text-gray);
	font-size: 15px;
}
.about_wrapper .tab-pane li{
	color: var(--gray-color);
	font-size: 16px;
	margin-bottom: 15px;
	font-weight: 300;
	list-style: none;
}
.about_wrapper .tab-pane li a{
	font-weight: 500;
	display: block;
	color: var(--text-gray);
}

/* 5. Services */
.services_wrapper .card{
	background-color: var(--bg-dark-blue);
	cursor: pointer;
	transition: transform 0.65s cubic-bezier(0.05,0.2,0.1,1);
	box-shadow: 0.65s cubic-bezier(0.05,0.2,0.1,1);
}
.services_wrapper .card:hover{
	box-shadow: 0px 2px 70px 0 rgb(253 71 102 / 5%);
	transform: translateY(-5px);
}


/* 6. Portfolio */
.portfolio_wrapper .card{
	height: 100%;
	min-height: 350px;
	overflow: hidden;
	border: 1px solid var(--bg-white);
	cursor: pointer;
	box-shadow: 0 0 16px 4px var(--bg-dark-blue);
}
.portfolio_wrapper .card span{
	transition: background-position 4s ease-in-out 0s;
	width: 100%;
	height: 100%;
	background-position: top center;
	background-size: cover;

}


/* 7. contact */
.contact_wrapper .form-control,
.contact_wrapper textarea{
	background-color: transparent;
	border-color: var(--gray-color);
	color: var(--text-gray);
	font-size: 15px;
	font-weight: 500;
	padding: 10px 20px;
}
.contact_wrapper .form-control:hover,
.contact_wrapper textarea:hover,
.contact_wrapper .form-control:focus,
.contact_wrapper textarea:focus{
	border-color: var(--primary-color);
	color: var(--text-white);
}
.contact_wrapper .call_details{
	color: var(--text-gray);
}
.contact_wrapper .call_details a{
	font-weight: 700;
	color: var(--text-gray);
}

/* 8. footer */
.footer_wrapper{
	background-color: var(--bg-dark-blue);
	padding: 20px 0;
}
.footer_wrapper .footer-logo img{
	width: 100px;
}
.footer_wrapper .social-icon li{
	margin: 6px;
}
.footer_wrapper .social-icon a{
	width: 35px;
	height: 35px;
	line-height: 30px;
	font-size: 14px;
	display: inline-block;
	border: 2px solid var(--text-gray);
	color: var(--text-gray);
	text-align: center;
	border-radius: 100%;
	-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.footer_wrapper .social-icon a:hover{
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	color: var(--text-white);
	box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10px);
	transform: translateY(-3px);
}
.footer_wrapper .copyright-text p{
	font-size: 11px;
	line-height: 20px;
}
.footer_wrapper .copyright-text a{
	color: var(--primary-color);
}